<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ZTree</title>
    <link rel="stylesheet" href="~/Scripts/zTree/zTreeStyle.css" />
</head>
<body>
    <div ng-view></div>
    <script src="~/Assets/bower_components/requirejs/require.js" data-main="App/startup.js"></script>
</body>
</html>